.app {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #2c2c2c;
  min-height: 100vh;
  color: white;
}
.quizList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

.listOfQuizzes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 50px;
  max-width: 1100px;
}

.btn {
  width: 500px;
  height: 50px;
  margin: 20px;
  font-size: x-large;
  background-color: #ffffcc;
  color: #009900;
}
.btn:hover {
  background-color: #009900;
  color: #ffffcc;
}

.subButtons {
  display: inline-flex;
  justify-content: space-around;
  width: 500px;
  align-self: center;
}
.subBtn {
  margin: 20px auto;
  width: 200px;
  font-size: x-large;
  background-color: #ffffcc;
  color: #009900;
}

.subBtn:hover {
  background-color: #009900;
  color: #ffffcc;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answerChoices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ScorePage */
.scorePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50%;
}
